#visual-portal-wrapper {
    width:980px;
    margin: 0 auto;
}

body {
/*    background: url("images/background.jpg") repeat-x;*/
}


#portal-globalnav {
    margin-top:40px;
    text-align:right;
}

#globalnav-home {
    float:left;
    background:#4DABBA;
    font-size:20px;
    font-weight:500;
    background: url("images/bluetile.png") right no-repeat;
}

#portal-globalnav li {
    text-align:left;
}

.portlet {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.16) inset;
    border: 1px solid rgb(207, 242, 248);
}

.portletWrapper {
    margin-bottom:20px;
}

.portletSearch {
    border:none;
    box-shadow:none;
}

.portletSearch .portletHeader a,
.portletSearch .portletFooter {
    display:none !important;
}

#portal-globalnav {
    background: #64C3C0;
    box-shadow: 0 3px 5px #919191;
    font-size:16px;
    line-height:50px;
}

.portletSearch input[type='text'] {
    line-height:36px;
    height:36px;
    border: 1px solid rgb(147, 147, 147);
    width:148px;
    padding: 0;
}

.portletSearch input[type='submit'] {
    color:transparent;
    background: url('images/btn-search.png') no-repeat;
    height:40px;
    width: 58px;
    margin-left: 2px;
    vertical-align: middle;
    border:none;
    cursor: pointer;
}

.portletSearch .portletHeader {
    font-weight:bold;
}

.portlet .livesearchContainer {
    background:#fff;
}

.portlet .LSRow, .portlet #LSNothingFound {
    width:180px;
}

.LSResult {
    position:absolute;
}
dl.portlet.portletSearch dt, dl.portlet.portletSearch dd {
    padding:0;
}

.carousel div.navi {
    margin:0px auto;
    padding-left:20px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align:left;
    position:absolute;
    top:260px;
    right:50px;
    z-index:5;
}

.carousel div.navi a {
    background: #67D0DC;
    height:13px;
    width:13px;
    border-radius: 8px;
    border:1px solid #247380;
}

.carousel div.navi a.active {
    background: #BEDA5C;
    height:13px;
    width:13px;
    border-radius: 8px;
    border:1px solid #247380;
}

.carousel a.browse {
    display:none;
}


.carousel div.scrollable div.items div.itemPadding {
        margin: 3px 1em;
}

.slider-background {
    position:absolute;
    background:url('sliderbg.png') no-repeat right;
    display:block;
    height:300px;
    width:640px;
    margin:0 0.8em;
}

html[lang=de] .slider-background {
    background:url('sliderbg-de.png') no-repeat right;
}

html[lang=es] .slider-background {
    background:url('sliderbg-es.png') no-repeat right;
}

html[lang=fr] .slider-background {
    background:url('sliderbg-fr.png') no-repeat right;
}

.slider-background .text-wrapper {
    margin-top:50px;
    float:right;
    text-align:right;
    padding-right:30px;
    width:250px;
    color:#fff;
}
.slider-background h3 {
    color:#fff;
    font-weight:500;
    font-size:23px;
}

.template-atct_edit fieldset {
    width: 95%;
}

#portal-footer-links {
    float:right;
}

div#portal-footer-links ul li {
    padding-right: 0.5em;

}

#portal-footer-copyright {
    float:left;
}

.portaltype-document .documentDescription {
    display:none;
}

.section-front-page #portal-breadcrumbs {
    display: none;
}

.section-news-media .twtr-doc {
   width:220px!important;
}

#content img.tileImage, #content div.newsImageContainer {
    max-width: 390px;
}

#content .documentDescription {
    display:none;
}

/*Afterfive - CSS ADJUSMENT*/
#content h1.documentFirstHeading{
    color: rgb(83, 164, 189);
}

/*form element*/
input[type='submit'],
input[type="reset"],
input[type='button']
button{
    background-color: #64C2C1;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}
input[type='text'],
input[type='password'],
input[type='reset'],
textarea{
    border: 1px solid rgb(147, 147, 147);
    padding: 5px;
}
select{
    background: none;
    border: 1px solid rgb(147, 147, 147);
    padding: 5px;
}

/*input tag under div class 'form controls'*/
.actionButtons input,
.formControls input{
    margin-right: 10px;
}

/*quicksearch*/
.quicksearch form{
    text-align: center;
}
.quicksearch input[type="text"]{
    width: 35%;
    margin-right: 10px;
    font-size: 15px;
    border: 1px solid rgb(147, 147, 147);
    padding: 5px;
    font-style: italic;
}
.quicksearch input[type="submit"],
.advancedsearch input[type="submit"]{
    font-size: 15px !important;
    padding: 8px 15px;
}
.advancedsearch form{
    margin-top: 20px;
}
.advancedsearch select,
.advancedsearch input[type="text"]{
    width: 90%;
}
.advancedsearch .date-checkbox{
    padding: 5px;
    color: #808080;
    font-style: italic;
}

/*search result*/
table.search-result{
    width: 100%;
    border: none !important;
}
table.search-result td,
table.search-result th{
    border: none !important;
}
table.search-result tr:nth-child(even){
    background-color: #EEFBFF;
}
table.search-result td h4{
    color: #00ccff;
}
table.search-result td p.event-desc{
    font-style: italic
}

/*three col portlet*/
dl.col-portlet{
    border: 1px solid #000 !important;
    box-shadow: none !important;
}
dd.portlet-col-item{
    clear: both !important;
    display: inline-flex;
}
.col-item{
    float: left;
}
.col-item:last-child:after{
    content: ' ';
    display: inline-block;
}
.col-three-item{
    width: 33.3%;
}
.col-three-item{margin: 0 2%;}
.col-three-item:first-child{margin-left: 0;}
.col-three-item:last-child{margin-right: 0;}
.col-three-item img{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    background-color: #ccc;
}
.col-three-item .event-info{
    margin-left: 60px;
}
.col-three-item .event-info h4{
    color: #01CCFF;
    margin-bottom: 10px;
}
.col-three-item .event-info p.e-desc{
    font-style: italic;
}
.col-three-item .event-info p span{display: block}

#portal-footer-copyright a {
   padding: 20px 0px 15px 68px;
   font-size:20px;
   background: url("/++theme++wcc.assemblytheme/wcclogo.png") no-repeat scroll 0px 0px transparent;
}

#portal-footer-copyright a:link,
#portal-footer-copyright a:visited {
    color: #000;
}
