#visual-portal-wrapper {
    width:980px;
    margin: 0 auto;
}

body {
    background: url("images/background.jpg") repeat-x;
}


#portal-globalnav {
    margin-top:70px;
    text-align:right;
}

#globalnav-home {
    float:left;
    background:#4DABBA;
    font-size:20px;
    font-weight:500;
    background: url("images/bluetile.png") right no-repeat;
}

#portal-globalnav li {
    text-align:left;
}

.portlet {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.16) inset;
    border: 1px solid rgb(207, 242, 248);
}

.portletWrapper {
    margin-bottom:20px;
}

.portletSearch {
    border:none;
    box-shadow:none;
}

.portletSearch .portletHeader a,
.portletSearch .portletFooter {
    display:none !important;
}

#portal-globalnav {
    background: #64C3C0;
    font-size:16px;
    line-height:50px;
}

.portletSearch input[type='text'] {
    line-height:36px;
    height:36px;
    border: 1px solid rgb(207, 242, 248);
    width:160px;
}

.portletSearch input[type='submit'] {
    color:transparent;
    background: url('images/btn-search.png') no-repeat;
    height:36px;
    width: 54px;
    border:none;
}

.portletSearch .portletHeader {
    font-weight:bold;
}

.portlet .livesearchContainer {
    background:#fff;
}

.portlet .LSRow, .portlet #LSNothingFound {
    width:180px;
}

.LSResult {
    position:absolute;
}
dl.portlet.portletSearch dt, dl.portlet.portletSearch dd {
    padding:0;
}

.carousel div.navi {
    background:#7DD0BA;
    margin:0px auto;
    width:620px;
    padding-left:20px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align:left;
}

.carousel div.navi a {
    background: #4DABBA;
    height:13px;
    width:13px;
    border-radius: 8px;
    border:1px solid #49A2B0;
}

.carousel div.navi a.active {
    background: #BEDA5C;
    height:13px;
    width:13px;
    border-radius: 8px;
    border:1px solid #49A2B0;
}

.carousel a.browse {
    display:none;
}


.carousel div.scrollable div.items div.itemPadding {
        margin: 3px 1em;
}

.slider-background {
    position:absolute;
    background:url('sliderbg.png') no-repeat right;
    display:block;
    height:300px;
    width:640px;
    margin:0 0.8em;
}

html[lang=de] .slider-background {
    background:url('sliderbg-de.png') no-repeat right;
}

html[lang=es] .slider-background {
    background:url('sliderbg-es.png') no-repeat right;
}

html[lang=fr] .slider-background {
    background:url('sliderbg-fr.png') no-repeat right;
}

.slider-background .text-wrapper {
    margin-top:50px;
    float:right;
    text-align:right;
    padding-right:30px;
    width:250px;
    color:#fff;
}
.slider-background h3 {
    color:#fff;
    font-weight:500;
    font-size:23px;
}

.template-atct_edit fieldset {
    width: 95%;
}

#portal-footer-links {
    float:right;
}

div#portal-footer-links ul li {
    padding-right: 0.5em;

}

#portal-footer-copyright {
    float:left;
}

